:root {
  --max-width-body: 1600px; /* Макс. ширина страницы */
  --min-height-header: 80px; /* Макс. высота шапки */
  --min-height-footer: 252px; /* Макс. высота футера */
  --max-width-portfolio-card: 370px; /* Макс. ширина карточки проекта */
  --max-height-portfolio-card: 404px; /* Макс. высота карточки проекта */
  --margin-right-portfolio-card: 30px; /* Горизонтальный отступ между карточками проекта */
  --margin-bottom-portfolio-card: 30px; /* Вертикальный отступ между карточками проекта */

  /* Палитра */
  --color-text-primary: #212121; /* Основной цвет текста #212121 (nav-link, h2, h3, filters-btn) */
  --color-text-secondary: #757575; /* Вторичный цвет текста #757575 */
  --color-accent: #2196f3; /* Акцент #2196F3 */
  --color-bg-hero: #2f303a;
  --color-bg-section-grey: #f5f4fa;
  --color-bg-project-card: #eeeeee;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Тень для Главной кнопки (статическая) и Вторичной кнопки (динамическая - по наведению/при фокусе) */
  --color-filters-btn-box-shadow-light: rgba(0, 0, 0, 0.08);
  --color-filters-btn-box-shadow-darker: rgba(0, 0, 0, 0.1);
  --color-filters-btn-box-shadow-darkest: rgba(0, 0, 0, 0.12);

  /* Тень для Карточки дизайнера (статическая) - material shadow v1 */
  --color-designers-card-shadow-light: rgba(0, 0, 0, 0.12);
  --color-designers-card-shadow-darker: rgba(0, 0, 0, 0.14);
  --color-designers-card-shadow-darkest: rgba(0, 0, 0, 0.2);

  /* Тень для Кнопки-героя (статическая) */
  --color-hero-btn-shadow: rgba(0, 0, 0, 0.15);

  /* Цвет Кнопки-героя при фокусе */
  --color-hero-btn-hover: #188ce8;

  --color-header-decoration-line: #ececec;
  --color-footer-contacts: rgba(255, 255, 255, 0.6);
}

/* ------------------------------------------------------ */
/* || ------------- START "ОБЩИЕ НАСТРОЙКИ" ------------- */
/* ------------------------------------------------------ */

/* START "Обнуление" */
body,
h1,
h2,
h3,
p,
ul,
li,
.links,
.btn {
  padding: 0;
  margin: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
/* END "Обнуление" */

/* Главная */

body {
  font-family: Roboto;
  color: var(--color-text-primary);
  background-color: var(--color-white);
  max-width: var(--max-width-body);
  margin: 0 auto;
}

/* .studio-body {
  max-height: 2349px;
}
.portfolio-body {
  max-height: 1880px;
} */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Чем мы занимаемся, Наша команда */
.section-title {
  line-height: 42px;
  padding-bottom: 50px;

  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  /* Наследует от body font-family: Roboto; */
  /* Наследует от браузера font-weight: 700; font-style: normal; */

  color: var(--color-text-primary); /* Primary text color #212121 */
}

.nobullets {
  list-style: none;
}

.image,
.symbol {
  display: block;
}

.links {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* Шаблон кнопки - "Все", "Веб-сайты", "Приложения", "Дизайн", "Маркетинг" */
.btn {
  padding: 6px 22px;
  min-height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%; /* identical to box height, or 162% */

  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Главная кнопка: фон - акцент,  цвет - белый #ffffff. + тень статическая */
.btn--primary {
  background-color: var(--color-accent); /* Акцент #2196F3 */
  color: var(--color-white); /* Белый #FFFFFF */

  /* shadow-middle */
  box-shadow: 0 3px 1px var(--color-filters-btn-box-shadow-darker),
    0 1px 2px var(--color-filters-btn-box-shadow-light),
    0 2px 2px var(--color-filters-btn-box-shadow-darkest);
}

/* Вторичная кнопка: Фон - серый #f5f4fa,  цвет - темный #212121, + тень динамическая по ховеру */
.btn--secondary {
  background-color: var(--color-bg-section-grey);
  color: var(--color-text-primary);
}
/* ------------------------------------------------------ */
/* || -------------- END "ОБЩИЕ НАСТРОЙКИ" -------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --------------- START "ШАПКА САЙТА" --------------- */
/* ------------------------------------------------------ */

/* Структура шапки:
page-header > header-container > header-nav > (logo + nav-menu) ^ +
                               + header-contacts-container > (header-contacts-list) */

.page-header {
  max-height: var(--min-height-header);
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Декоративная линия под шапкой сайта */
.page-header::after {
  content: "";
  position: absolute;
  max-width: var(--max-width-body);
  min-width: var(--max-width-body);
  max-height: 0;
  top: 80px;
  /* Line */
  border-bottom: 1px solid var(--color-header-decoration-line);
}

.header-container {
  display: flex;
  align-items: center;
  min-height: 31px;
}

.header-nav {
  display: flex;
  align-items: center;
}

/*
 *
*/

/* START "Ссылка-логотип WebStudio" */

.logo-container {
  padding-right: 93px;
}

.logo {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;

  min-width: 145px;
  min-height: 31px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%; /* 31px identical to box height */
  letter-spacing: 0.03em;
}

.webstudio {
  max-height: 31px;
  min-height: 31px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.white {
  color: var(--color-white);
}

.black {
  color: var(--color-black);
}

/* END "Ссылка-логотип WebStudio" */

/*
 *
*/

/* START "Главная навигация сайта" */
.nav-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding-right: 331px;

  min-width: 294px;
  min-height: 16px;
  color: var(--color-text-primary);
}

.nav-menu-item {
  min-height: 16px;
}

.nav-menu-item:not(:last-child) {
  padding-right: 50px;
}

/* Студия, Портфолио, Контакты, info@devstudio.com, +38 096 111 11 11 */
.nav-link,
.header-contacts {
  position: relative;
  min-height: 16px;
  padding-top: 7px;
  padding-bottom: 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  white-space: nowrap;

  /* Студия    width: 49px; Портфолио width: 77px; Контакты  width: 68px; */
}

.nav-link {
  color: var(--color-text-primary);
}

.nav-link[aria-current*="page"]::after {
  content: "";
  position: absolute;
  top: 52px;
  left: 0;
  min-width: 100%;
  min-height: 5px;
  background-color: var(--color-accent);
  border-radius: 21px;
  z-index: 21;
}

/* END "Главная навигация сайта" */

/*
 *
*/

/* START "Шапка сайта - Контакты" */
.header-contacts-container {
  min-width: 307px;
  /* info@devstudio.com */ /* width: 135px; */
  /* +38 096 111 11 11  */ /* width: 122px; */
}

.header-contacts-list {
  display: flex;
  min-width: 307px;
  min-height: 16px;
}

.header-contacts-list-item:not(:last-child) {
  padding-right: 50px;
}

.header-contacts {
  color: var(--color-text-secondary);
}

/* END "Шапка сайта - Контакты" */

/*
 *
*/

/* START "СКРЫТЫЙ КЛАСС"
 * "Модальное окно скрыто до момента нажатия на кнопку-героя"
*/
.is-hidden {
  /* MUST HAVE */
  visibility: hidden !important; /* Не выделяется ни мышкой, ни табом. Контент прозрачный. Блок в потоке. */
  pointer-events: none !important; /* Не выделяется мышкой. Контент видно, выделяется табом. Блок в потоке. */

  /* Useful */
  clip-path: inset(100%); /* Вырезает контент. Блок в потоке. */
  clip: rect(1px 1px 1px 1px); /* Старая функция IE6, IE7, вырезает контент. Блок в потоке. */
  clip: rect(1px, 1px, 1px, 1px); /* Старая функция, вырезает контент. Блок в потоке. */

  overflow: hidden !important; /* Обрезает контент. Блочный контейнер должен иметь высоту или максвысоту, или white-space: nowrap. */
  height: 0 !important; /* Высота блока <= 1 px. Не влияет на строчный контент, а Блочный - меньше, но в потоке. */
  width: 0 !important; /* Ширина блока <= 1px. Не влияет на строчный контент, а Блочный - меньше, но в потоке. */

  font-size: 0 !important; /* Высота шрифта <= 1px.Уменьшает текстовый контент, можно выделить с другими элементами. Блок меньше, но в потоке. */
  line-height: 0 !important; /* Уменьшает текстовый контент, можно выделить с другими элементами. Блок меньше, но в потоке. */

  /* only visual effect */
  opacity: 0 !important; /* Контент прозрачный (не видно, но можно кликать и выделять). Контент и Блок в потоке. */

  /* small importance */
  position: absolute !important; /* Вытягивает Блок из потока. Сдвигает все элементы страницы выше на высоту блока. Не влияет на сам контент. */
  white-space: nowrap !important; /* Nowrap - элементы в одной строке не переходят на новую строку. Влияет на overflow. */
  padding: 0 !important; /* Нет внутренних отступов. Не влияет. */
  border: 0 !important; /* Нет границы. Не влияет. */
  margin: 0 !important; /* Нет внешних отступов. Не влияет. */
  outline-width: 0 !important; /* Нет рамки вокруг. Не влияет. */
  outline-offset: 0 !important; /* Нет сдвига рамки вокруг. Не влияет. */
}
/* END "СКРЫТЫЙ КЛАСС" */

/* START Подсветка ссылок */
.accent,
[aria-current],
.links:hover,
.links:focus,
.links:active,
.logo:hover .webstudio,
.logo:focus .webstudio,
.logo:active .webstudio {
  color: var(--color-accent); /* Акцент #2196F3 */
}
/* END Подсветка ссылок */
/* ------------------------------------------------------ */
/* || ---------------- END "ШАПКА САЙТА" ---------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------------ START "ГЕРОЙ" ------------------ */
/* ------------------------------------------------------ */
.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  min-height: 600px;
  background-color: var(--color-bg-hero); /* 2F303A */
}

/* .main-container > .hero {
} */

.hero-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-width: 696px;
  min-height: 200px;
}

/* Эффективные решения для вашего бизнеса */
.hero-container > .hero-title {
  min-width: 696px;
  min-height: 120px;
  padding-bottom: 30px;
  /* Наследует от body: font-family: Roboto; */
  /* Наследует от браузера: font-style: normal; */
  font-weight: 900;
  font-size: 44px;
  line-height: 136%; /* 60px or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

/* START Hero-Button */

/* Заказать услугу */
.hero-container > .hero-btn {
  white-space: nowrap;
  min-width: 200px;
  min-height: 50px;
  font-size: 16px;

  /* Наследует от body: font-family: Roboto; */
  /* Наследует от браузера: font-style: normal; font-size: 16px; */
  font-weight: 700;
  line-height: 187%; /* identical to box height 30px, or 187% */
  letter-spacing: 0.06em;
  border-radius: 4px;

  /* Тень для Кнопки-героя (статическая) */
  box-shadow: 0 4px 4px var(--color-hero-btn-shadow); /* rgba(0, 0, 0, 0.15) */
}

/* Hero-Button (Hover) */
.hero-container > .hero-btn:focus,
.hero-container > .hero-btn:hover,
.hero-container > .hero-btn:active {
  background-color: var(--color-hero-btn-hover); /* #188ce8 */
}

/* END Hero-Button */

/* ------------------------------------------------------ */
/* || ------------------- END "ГЕРОЙ" ------------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --------------- START "ОСОБЕННОСТИ" --------------- */
/* ------------------------------------------------------ */
main > .features {
  padding-bottom: 47px;
}

/* Особенности */
.features-container {
  min-height: 101px;
}

.features-list {
  display: flex;
  justify-content: center;
  min-width: 1170px;
  min-height: 101px;
}

.features-list-item {
  min-width: 270px;
  min-height: 101px;
}

.features-list-item:not(:nth-child(4n-4)) {
  margin-right: 30px;
}

/* Внимание к деталям, Пунктуальность, Планирование, Современные технологии */
.features-heading {
  min-width: 270px;
  min-height: 16px;
  padding-bottom: 10px;

  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.features-paragraph {
  min-width: 270px;
  min-height: 75px;
}

/* В параграфе ".features-paragraph" и в ".footer-contacts" - одинаковый шрифт, разный цвет */

/* Идейные соображения, а также начало повседневной работы по формированию позиции. */
.secondary-text-font {
  font-size: 14px;
  line-height: 171%; /* 24 px or 171% */
  letter-spacing: 0.03em;
  color: var(--color-text-secondary);
  /* Наследует от body: font-family: Roboto; */
  /* Наследует от браузера: font-style: normal; font-weight: 400; */
}
/* ------------------------------------------------------ */
/* || ---------------- END "ОСОБЕННОСТИ" ---------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------ START "ЧЕМ МЫ ЗАНИМАЕМСЯ" ------------ */
/* ------------------------------------------------------ */
.activities {
  min-height: 386px;
}

/* Чем мы занимаемся */
.activities-container {
  margin: 0 auto;
}

main > .activities {
  padding-top: 47px;
}

.activities-list {
  display: flex;
  justify-content: center;
}

.activities-list-item:not(:nth-child(3n-3)) {
  padding-right: 30px;
}

/* Чем мы занимаемся */
.activities-title {
  min-width: 376px;
  min-height: 42px;
}
/* ------------------------------------------------------ */
/* || ------------- END "ЧЕМ МЫ ЗАНИМАЕМСЯ" ------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------- START "НАША КОМАНДА" ---------------- */
/* ------------------------------------------------------ */
.designers {
  min-height: 648px;
  background-color: var(--color-bg-section-grey);
}

.designers-container {
  min-height: 460px;
  margin: 0 auto;
}

/* Наша команда */
.designers-title {
  min-width: 264px;
  min-height: 42px;
}

/* team */
.designers-list {
  min-width: 100%;
  min-height: 368px;
  display: flex;
  justify-content: center;
}

/* team card 1-4 or "designers card" */
.designers-list-item {
  min-width: 270px;
  min-height: 368px;
  border-radius: 0 0 4px 4px;
  background-color: var(--color-white); /* card bg */
  /* Тень для Карточки дизайнера (статическая) - material shadow v1 */
  box-shadow: 0 1px 3px var(--color-designers-card-shadow-light),
    0 1px 1px var(--color-designers-card-shadow-darker),
    0 2px 1px var(--color-designers-card-shadow-darkest);
}

.designers-list-item:not(:nth-child(4n - 4)) {
  margin-right: 30px;
}

.designers-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.designers-photo {
  min-width: 270px;
  min-height: 290px;
  padding-bottom: 30px;
}

.designers-name {
  min-height: 19px;
  padding-bottom: 10px;
}

/* Designers-Name - Игорь Демьяненко, Ольга Репина, Николай Тарасов, Михаил Ермаков */
.primary-text-font {
  /* Наследует от body: font-family: Roboto; */
  /* Наследует от браузера: font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 100%; /* 19px identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-text-primary);
}

/* Product Designer */
.designers-role {
  text-align: center;
  min-height: 19px;
  /* Наследует от body font-family: Roboto; */
  /* Наследует от браузера font-size: 16px; font-style: normal; font-weight: 400; */
  line-height: 100%; /* identical to box height 19px */

  letter-spacing: 0.03em;

  color: var(--color-text-secondary); /* Secondary text color #757575 */
}
/* ------------------------------------------------------ */
/* || --------------- END "НАША КОМАНДА" ---------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || -------------- START "ПОДВАЛ САЙТА" --------------- */
/* ------------------------------------------------------ */
.page-footer {
  min-height: var(--min-height-footer);
  padding: 60px 0;
  background-color: var(--color-bg-hero);
}

.footer-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  max-height: 132px;
}

.footer-address-wrapper {
  min-width: 231px;
  min-height: 132px;
}

.footer-address {
  font-style: inherit;
  min-width: 231px;
  min-height: 81px;
  padding-top: 20px;
}

.footer-address-list {
  min-width: 231px;
  min-height: 81px;
}

.footer-address-list-item {
  min-width: 231px;
  min-height: 21px;
}

.footer-address-list-item:not(:last-child) {
  padding-bottom: 9px;
}

/* г. Киев, пр-т Леси Украинки, 26, info@example.com, +38 099 111 11 11 */
.footer-map-pointer,
.footer-contacts {
  min-height: 21px;
}

/* г. Киев, пр-т Леси Украинки, 26 */
.footer-map-pointer {
  color: var(--color-white);
}

/* info@example.com, +38 099 111 11 11 */
.footer-contacts {
  color: var(--color-footer-contacts);
}

.footer-social-container {
  display: flex;
  padding-left: 20px;
}

.footer-social-list {
  display: flex;
  min-width: 400px;
  min-height: 21px;
}

.footer-social-list-item:not(:last-child) {
  padding-right: 21px;
}

/* .footer-social-link {
} */
/* ------------------------------------------------------ */
/* || -------------- END "ПОДВАЛ САЙТА" ----------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------- START "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" -------- */
/* ------------------------------------------------------ */
.portfolio-filters {
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-width: 1170px;
  min-height: 88px;
  padding-bottom: 50px;
}

.portfolio-filters-list {
  display: flex;
  justify-content: center;
  min-width: 611px;

  min-height: 38px;
}

.portfolio-filters-list-item {
  min-height: 38px;
}

.portfolio-filters-list-item:not(:last-child) {
  margin-right: 8px;
}

/* START "Фильтры-Кнопки" - Все, Веб-сайты, Приложения, Дизайн, Маркетинг */
/* Вторичная кнопка по наведению: фон - акцент, текст белый + тень (динамическая) */
.btn--secondary:hover,
.btn--secondary:focus,
.btn--secondary:active {
  background-color: var(--color-accent); /* Акцент #2196F3 */
  color: var(--color-white);
  /* Динамическая тень по наведению - shadow-middle */
  box-shadow: 0 3px 1px var(--color-filters-btn-box-shadow-darker),
    0 1px 2px var(--color-filters-btn-box-shadow-light),
    0 2px 2px var(--color-filters-btn-box-shadow-darkest);
}
/* END "Фильтры-Кнопки" */

/* ------------------------------------------------------ */
/* || ------- END "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" ---------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --- START "ПОРТФОЛИО - СПИСОК КАРТОЧЕК ПРОЕКТОВ" -- */
/* ------------------------------------------------------ */
.portfolio-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-width: 1170px;
  max-height: 1272px;
}

/* project 4 */
.portfolio-list-item {
  max-width: var(--max-width-portfolio-card);
  max-height: var(--max-height-portfolio-card);
  margin-bottom: var(--margin-bottom-portfolio-card);
  background-color: var(--color-white);
}

.portfolio-list-item:not(:nth-child(3n-3)) {
  margin-right: var(--margin-right-portfolio-card);
}

/* "Технокряк, Постер New Orlean vs Golden Star, Ресторан Seafood, Проект Prime, Проект Boxes, Inspiration has no Borders, Издание Limited Edition, Проект LAB, Growing Business" */
.portfolio-projects-name {
  min-width: 322px;
  min-height: 36px;
  font-size: 18px;
  line-height: 200%; /* identical to box height, 36px or 200% */
  letter-spacing: 0.06em;
  white-space: nowrap;
  color: var(--color-text-primary);
  /* Наследует от body - font-family: Roboto;
   * Наследует от браузера - font-size: 700px; font-weight: 700; font-style: normal; */
}

/* Маркетинг */
.portfolio-projects-type {
  min-width: 322px;
  min-height: 30px;
  font-size: 16px;
  line-height: 187%;
}

.project-title {
  min-width: 322px;
  min-height: 70px;
  padding: 20px 24px;
  border-right: 1px solid var(--color-bg-project-card);
  border-bottom: 1px solid var(--color-bg-project-card);
  border-left: 1px solid var(--color-bg-project-card);
}
/* ------------------------------------------------------ */
/* || --- END "ПОРТФОЛИО - СПИСОК КАРТОЧЕК ПРОЕКТОВ" ---- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ------------- START "СТУДИЯ - ФОРМА" -------------- */
/* ------------------------------------------------------ */

/*
.contact-form {
  min-width: 400px;           Change me !
  padding: 40px;              Change me !
  margin: 0 auto;             Change me !
  border: 1px solid #cccccc;  Change me !
  margin-top: 21px;
}

.contact-form-message {
  resize: none;
  padding: 20px;              Change me !
}

.contact-form-message::placeholder {
  text-transform: uppercase;
  background-color: var(--color-white);
  color: var(--color-text-secondary);
  padding: 1px;               Change me !
}
*/

/* ------------------------------------------------------ */
/* || -------------- END "СТУДИЯ - ФОРМА" --------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || ----------------- START "МОДАЛКА" ----------------- */
/* ------------------------------------------------------ */
/*
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  transition: opacity 250ms rgba(0, 0, 0, 0.21);
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60vw;
  background-color: var(--color-white);
  border-radius: 21px;
}

.modal-form-head {
  font-size: 14px;
}

.modal-form {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
}

.modal-form-input {
  width: 40px;
}

.modal-close-btn-container {
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
  min-height: fit-content;
  padding-right: 40px;
  padding-top: 10px;
}

.modal-close-btn {
  padding-right: 15px;
  min-height: fit-content;
  min-width: fit-content;
  text-align: center;
  line-height: 100%;
}

.form-btn-container {
  display: flex;
  justify-content: flex-end;
}

.contact-form-btn {
  margin-right: 5px;
} */
/* ------------------------------------------------------ */
/* || ------------------ END "МОДАЛКА" ------------------ */
/* ------------------------------------------------------ */

/* .stats-languages {
  homework-name: "hw-03-flexbox";
  date: "2021-Jun-06 18:09";
  HTML 58.1%
  CSS 41.0%
  JavaScript 0.9%
  file-lines-css: 908;
} */
