:root {
  /* Палитра */
  --color-text-primary: #212121; /* Основной цвет текста #212121 (nav, section-title h-2, features-heading h-3, designer-name, filters-btn, project-name ) */
  --color-text-secondary: #757575; /* Вторичный цвет текста #757575 */
  --color-accent: #2196f3; /* Акцент #2196F3 */
  --color-bg-hero: #2f303a;

  --color-bg-section-grey: #f5f4fa;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-filters-btn-box-shadow-middle-008: rgba(0, 0, 0, 0.08);
  --color-filters-btn-box-shadow-middle-010: rgba(0, 0, 0, 0.1);
  --color-filters-btn-box-shadow-middle-012: rgba(0, 0, 0, 0.12);
  --color-designers-list-item-box-shadow-middle-012: rgba(0, 0, 0, 0.12);
  --color-designers-list-item-box-shadow-middle-014: rgba(0, 0, 0, 0.14);
  --color-designers-list-item-box-shadow-middle-020: rgba(0, 0, 0, 0.2);
  --color-hero-btn-box-shadow: rgba(0, 0, 0, 0.15);
  --color-hero-btn-hover: #188ce8;
  --color-bg-project-card: #eeeeee;
  --color-header-decoration-line: #ececec;
  --color-footer-contacts: rgba(255, 255, 255, 0.6);
}

/* || ========== START "ОБЩИЕ НАСТРОЙКИ" ========== */

/* START "Обнуление" */
body,
h1,
h2,
h3,
p,
ul,
li,
.links,
.btn {
  padding: 0;
  margin: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
/* END "Обнуление" */

/* Главная */
body {
  font-family: Roboto;
  width: 1600px;
  height: 2349px;
  color: var(--color-text-primary);
  background-color: var(--color-white);
  margin: 0 auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Чем мы занимаемся, Наша команда */
.section-title {
  line-height: 42px;
  padding-bottom: 50px;

  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  /* Inherits from the body font-family: Roboto; */
  /* Inherits from the browser font-weight: 700; font-style: normal; */

  color: var(--color-text-primary); /* Primary text color #212121 */
}

.nobullets {
  list-style: none;
}

.image,
.symbol {
  display: block;
}

.links {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* Шаблон кнопки - "Все", "Веб-сайты", "Приложения", "Дизайн", "Маркетинг" */
.btn {
  padding: 6px 22px;
  min-height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%; /* identical to box height, or 162% */

  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Главная кнопка: Цвет - белый, заливка - цвет акцента */
.btn--primary {
  color: var(--color-white);
  background-color: var(--color-accent); /* Акцент #2196F3 */
}

/* Вторичная кнопка: Белая заливка, темно-серый цвет. */
.btn--secondary {
  color: var(--color-text-primary);
  background-color: var(--color-bg-section-grey);
}

/* || ========== END "ОБЩИЕ НАСТРОЙКИ" ========== */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/

/* || ========== START "ШАПКА САЙТА" ========== */

/* Структура шапки:
page-header > header-container > header-nav > (logo + nav-menu) ^ +
                               + header-contacts-container > (header-contacts-list) */

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  min-width: 1200px;
  max-height: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  min-height: 31px;
}

.header-nav {
  display: flex;
  align-items: center;
}

/*
 *
*/

/* START "Ссылка-логотип WebStudio" */

.logo-container {
  padding-right: 93px;
}

.logo {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;

  min-width: 145px;
  min-height: 31px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%; /* 31px identical to box height */
  letter-spacing: 0.03em;
}

.webstudio {
  max-height: 31px;
  min-height: 31px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.white {
  color: var(--color-white);
}

.black {
  color: var(--color-black);
}

/* END "Ссылка-логотип WebStudio" */

/*
 *
*/

/* START "Главная навигация сайта" */
.nav-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding-right: 331px;

  min-width: 294px;
  min-height: 16px;
  color: var(--color-text-primary);
}

.nav-menu-item {
  min-height: 16px;
}

.nav-menu-item:not(:last-child) {
  padding-right: 50px;
}

/* Студия, Портфолио, Контакты, info@devstudio.com, +38 096 111 11 11 */
.nav-link,
.header-contacts {
  min-height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  white-space: nowrap;

  /* Студия    width: 49px; Портфолио width: 77px; Контакты  width: 68px; */
}

.nav-link {
  color: var(--color-text-primary);
}
/* END "Главная навигация сайта" */

/*
 *
*/

/* START "Шапка сайта - Контакты" */
.header-contacts-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 379px;
  min-height: 31px;
  /* info@devstudio.com */ /* width: 135px; */
  /* +38 096 111 11 11  */ /* width: 122px; */
}

.header-contacts-list {
  display: flex;
  min-width: 307px;
  min-height: 16px;
}

.header-contacts-list-item:not(:last-child) {
  padding-right: 50px;
}

.header-contacts {
  color: var(--color-text-secondary);
}

/* END "Шапка сайта - Контакты" */

/*
 *
*/

/* START "СКРЫТЫЙ КЛАСС"
 * "Модальное окно скрыто до момента нажатия на кнопку-героя"
*/
.is-hidden {
  position: absolute !important;
  pointer-events: none !important;

  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: -1px !important;

  opacity: 0 !important;
  visibility: hidden !important;
  backface-visibility: hidden !important;

  font-size: 0 !important;
  line-height: 0 !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap !important;
  clip-path: inset(100%);
  overflow: hidden !important;
}
/* END "СКРЫТЫЙ КЛАСС" */

/* START Подсветка ссылок */
.accent,
[aria-current],
.links:hover,
.links:focus,
.links:active,
.logo:hover .webstudio,
.logo:focus .webstudio,
.logo:active .webstudio {
  color: var(--color-accent); /* Акцент #2196F3 */
}
/* END Подсветка ссылок */

/* Decoration Line */
.page-header::after {
  content: "";
  width: 100%;
  max-height: 0;
  border-bottom: 1px solid var(--color-header-decoration-line);
  display: block;
}

/* || ========== END "ШАПКА САЙТА" ========== */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/

/* || ========== START "MAIN" ========== */

/* .main {
} */

/* .main-container {
} */

/* || ========== END "MAIN" ========== */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/

/* || ========== START "ГЕРОЙ" ========== */

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: var(--color-bg-hero); /* 2F303A */
}

.main-container > .hero {
  padding-top: 0;
  padding-bottom: 0;
}

.hero-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

/* Эффективные решения для вашего бизнеса */
.hero-title {
  min-width: 696px;
  min-height: 120px;
  padding-bottom: 30px;
  /* Inherits from the body: font-family: Roboto; */
  /* Inherits from the browser: font-style: normal; */
  font-weight: 900;
  font-size: 44px;
  line-height: 136%; /* 60px or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

/* START Hero-Button */
/* .hero-btn-container {
} */

/* Заказать услугу */
.hero-btn {
  white-space: nowrap;

  min-width: 200px;
  min-height: 50px;
  font-size: 16px;

  /* Inherits from the body: font-family: Roboto; */
  /* Inherits from browser: font-style: normal; font-size: 16px; */
  font-weight: 700;
  line-height: 187%; /* identical to box height 30px, or 187% */
  letter-spacing: 0.06em;
  border-radius: 4px;

  box-shadow: 0 4px 4px var(--color-hero-btn-box-shadow); /* rgba(0, 0, 0, 0.15) */
}

/* Hero-Button (Hover) */

.hero-btn-container > .hero-btn:focus,
.hero-btn-container > .hero-btn:hover,
.hero-btn-container > .hero-btn:active {
  background-color: var(--color-hero-btn-hover); /* #188ce8 */
}

/* END Hero-Button */

/* || ========== END "ГЕРОЙ" ========== */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/

/* || ========== START "ОСОБЕННОСТИ" ========== */

.main-container > .features {
  min-width: 242px;
  padding-bottom: 47px;
}

/* Особенности */
.features-container {
  height: 101px;
  width: 1170px;
  margin: 0 auto;
}

.features-list {
  display: flex;
  justify-content: center;
  min-height: 101px;
}

.features-list-item {
  min-width: 270px;
  min-height: 101px;
}

.features-list-item:not(:nth-child(4n-4)) {
  margin-right: 30px;
}

/* Внимание к деталям */
.features-heading {
  width: 270px;
  min-height: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-primary);
  padding-bottom: 10px;
}

/* В параграфа "Особенностей" и в футере - одинаковый шрифт, разный цвет */

/* Идейные соображения, а также начало повседневной работы по формированию позиции. */
/* Задача организации, в особенности же рамки и место обучения кадров влечет за собой. */
/* Равным образом консультация с широким активом в значительной степени обуславливает. */
/* Значимость этих проблем настолько очевидна, что реализация плановых заданий. */
.secondary-text-font {
  font-size: 14px;
  line-height: 171%; /* 24 px or 171% */
  letter-spacing: 0.03em;
  color: var(--color-text-secondary);
  /* Inherits from the body: font-family: Roboto; */
  /* Inherits from the browser: font-style: normal; font-weight: 400; */
}

.features-paragraph {
  min-width: 270px;
  min-height: 101px;
}

/* || ========== END "ОСОБЕННОСТИ" ========== */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/

/* || ========== START "ЧЕМ МЫ ЗАНИМАЕМСЯ" ========== */

.activities {
}

/* Чем мы занимаемся */
.activities-container {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 1200px;
  height: 386px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main-container .activities {
  padding-top: 47px;
}

.activities-list {
  display: flex;
  justify-content: center;
}

.activities-list-item:not(:nth-child(3n-3)) {
  padding-right: 30px;
}

/* Чем мы занимаемся */
.activities-title {
  min-width: 376px;
  min-height: 42px;
}

/* || ========== END "ЧЕМ МЫ ЗАНИМАЕМСЯ" ========== */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/

/* || ========== START "НАША КОМАНДА" ========== */

.designers {
  min-width: 1600px;
  min-height: 648px;
  background-color: var(--color-bg-section-grey);
}

/* Наша команда */
.designers-title {
  min-width: 264px;
  min-height: 42px;
}

/* team */
.designers-list {
  min-width: 1170px;
  min-height: 368px;
  display: flex;
  justify-content: center;
}

/* team card 1 */
.designers-list-item {
  min-width: 270px;
  min-height: 368px;
}

.designers-list-item:not(:nth-child(4n - 4)) {
  margin-right: 30px;
}

/* material shadow v1 */
.designers-list-item {
  box-shadow: 0 1px 3px var(--color-designers-list-item-box-shadow-middle-012),
    0 1px 1px var(--color-designers-list-item-box-shadow-middle-014),
    0 2px 1px var(--color-designers-list-item-box-shadow-middle-020);
  border-radius: 0 0 4px 4px;
}

.designers-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.designers-photo {
  min-width: 270px;
  min-height: 290px;
  padding-bottom: 30px;
}

.designers-name {
  min-height: 19px;
  padding-bottom: 10px;
}

/* Designers-Name - Игорь Демьяненко, Ольга Репина, Николай Тарасов, Михаил Ермаков */
.primary-text-font {
  /* Inherits from the body: font-family: Roboto; */
  /* inherits from the browser: font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 100%; /* 19px identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-text-primary);
}

/* Product Designer */
.designers-role {
  text-align: center;
  min-height: 19px;
  /* Inherits from the body font-family: Roboto; */
  /* Inherits from the browser font-size: 16px; font-style: normal; font-weight: 400; */
  line-height: 100%; /* identical to box height 19px */

  letter-spacing: 0.03em;

  color: var(--color-text-secondary); /* Secondary text color #757575 */
}

/* || ========== END "НАША КОМАНДА" ========== */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/

/* || ========== START "ПОДВАЛ САЙТА" ========== */

.page-footer {
  width: 1600px;
  height: 252px;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--color-bg-hero);
}

.footer-container {
  display: flex;
  flex-flow: row nowrap;
}

.footer-address-wrapper {
  min-width: 231px;
  min-height: 132px;
}

.footer-address {
  font-style: inherit;
  min-width: 231px;
  min-height: 81px;
  padding-top: 20px;
}

.footer-address-list {
  min-width: 231px;
  min-height: 81px;
}

.footer-address-list-item {
  min-width: 231px;
  min-height: 21px;
}

.footer-address-list-item:not(:last-child) {
  padding-bottom: 9px;
}

/* г. Киев, пр-т Леси Украинки, 26, info@example.com, +38 099 111 11 11 */
.footer-map-pointer,
.footer-contacts {
  min-height: 21px;
}

/* г. Киев, пр-т Леси Украинки, 26 */
.footer-map-pointer {
  color: var(--color-white);
}

/* info@example.com, +38 099 111 11 11 */
.footer-contacts {
  color: var(--color-footer-contacts);
}

.footer-social-container {
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
}

.footer-social-list {
  display: flex;
  min-width: 400px;
  min-height: 21px;
}

.footer-social-list-item:not(:last-child) {
  padding-right: 21px;
}

/* .footer-social-link {
} */

/* || ========== END "ПОДВАЛ САЙТА" ========== */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/

/* || ========== START "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" ========== */

.portfolio-filters {
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-width: 1170px;
  min-height: 88px;
}

.portfolio-filters-list {
  display: flex;
  justify-content: center;
  min-width: 611px;

  padding-bottom: 50px;
  min-height: 38px;
}

.portfolio-filters-list-item {
  min-height: 38px;
}

.portfolio-filters-list-item:not(:last-child) {
  margin-right: 8px;
}

/* START "Фильтры-Кнопки" - Все, Веб-сайты, Приложения, Дизайн, Маркетинг */

/* Вторичная кнопка по наведению: фон - акцент, текст белый + тень */
.btn--secondary:hover,
.btn--secondary:focus,
.btn--secondary:active {
  color: var(--color-white);
  background-color: var(--color-accent); /* Акцент #2196F3 */

  /* shadow-middle */
  box-shadow: 0 3px 1px var(--color-filters-btn-box-shadow-middle-010),
    0 1px 2px var(--color-filters-btn-box-shadow-middle-008),
    0 2px 2px var(--color-filters-btn-box-shadow-middle-012);
}

/* END "Фильтры-Кнопки" */

/* || ========== END "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" ========== */

/*
 *
*/

/* || ========== START "ПОРТФОЛИО - СПИСОК КАРТОЧЕК ПРОЕКТОВ" ========== */

.portfolio-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* project 4 */
.portfolio-list-item {
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
  background-color: var(--color-white);
}

.portfolio-list-item:not(:nth-child(3n-3)) {
  margin-right: 30px;
}

/* Growing Business */
.portfolio-project-name {
  min-width: 322px;
  min-height: 36px;
  font-size: 18px;
  line-height: 200%; /* identical to box height, 36px or 200% */
  letter-spacing: 0.06em;
  white-space: nowrap;
  color: var(--color-text-primary);
  /* Inherits from the body - font-family: Roboto;
   * Inherits from the browser - font-size: 700px; font-style: normal; */
}

/* Маркетинг */
.portfolio-project-type {
  min-width: 322px;
  min-height: 30px;
  font-size: 16px;
  line-height: 187%;
}

.project-title {
  min-width: 322px;
  min-height: 70px;
  padding: 20px 24px;
  border-right: 1px solid var(--color-bg-project-card);
  border-bottom: 1px solid var(--color-bg-project-card);
  border-left: 1px solid var(--color-bg-project-card);
}

/* || ========== END "ПОРТФОЛИО - СПИСОК КАРТОЧЕК ПРОЕКТОВ" ========== */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/

/* || ========== START "СТУДИЯ - ФОРМА" ========== */
.contact-form {
  min-width: 400px; /* Change me ! */
  min-height: 200px; /* Change me ! */
  padding: 40px; /* Change me ! */
  margin: 0 auto; /* Change me ! */
  border: 1px solid #cccccc; /* Change me ! */
  margin-top: 21px;
}

.contact-form-message {
  resize: none;
  padding: 20px; /* Change me ! */
}

.contact-form-message::placeholder {
  text-transform: uppercase;
  background-color: var(--color-white);
  color: var(--color-text-secondary);
  padding: 1px; /* Change me ! */
}
/* || ========== END "СТУДИЯ - ФОРМА" ========== */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
*/

/* || ========== START "МОДАЛКА" ========== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  transition: opacity 250ms rgba(0, 0, 0, 0.21);
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  border-radius: 21px;
}

.modal-form-head {
  font-size: 14px;
}

.modal-form {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
}

.modal-form-input {
  width: 40px;
}

.modal-close-btn-container {
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
  min-height: fit-content;
  padding-right: 40px;
  padding-top: 10px;
}

.modal-close-btn {
  padding-right: 15px;
  min-height: fit-content;
  min-width: fit-content;
  text-align: center;
  line-height: 100%;
}

.form-btn-container {
  display: flex;
  justify-content: flex-end;
}

.contact-form-btn {
  margin-right: 5px;
}

/* || ========== END "МОДАЛКА" ========== */

/* .stats-languages {
  homework-name: "hw-03-flexbox";
  date: "2021-Jun-06 12:13";
  file-lines-css: 908;
  HTML: 92.6%;
  CSS: 7.4%;
} */
